<h3>User picker tool</h3>
<span ng-switch on="showPickers.status">
    <span ng-switch-when="true">
<!-- 
<span ng-repeat="tag in tags"><span class="label label-primary">{{tag}}</span> </span>

<button ng-repeat="picker in pickers"
        type="button"
        class="btn {{picker.name}}"
        ng-click="pickFrom(picker.name)">{{picker.name}}</button> -->

        <span ng-repeat="picker in pickers | filter:{type:'click'}">
        	<button type="button" class="btn {{picker.style}}"  ng-click="pickFrom(picker)">{{picker.label}}</button>
        </span>
<!-- 
    	<button type="button" class="btn btn-primary"  ng-click="pickFrom('local')">Local</button>
  		<button type="button" class="btn btn-success" ng-click="pickFrom('chris')">ChRIS</button>
  		<button type="button" class="btn btn-info" ng-click="pickFrom('dropbox')">DropBox</button>
  		<button type="button" class="btn btn-warning" ng-click="pickFrom('googledrive')">GoogleDrive</button> -->
  		<button type="button" class="btn btn-danger" ng-click="showPickers.status = false" >I'm all set</button>
    </span>
    <span ng-switch-default>
		<button type="button" class="btn btn-primary" ng-click="showPickers.status = true" >Pick something</button>
    </span>
</span>

<h3>Dev tools</h3>
<button type="button" class="btn btn-danger" ng-click="print()" >Print Debug Info</button>
